<div class="quote-card mb-3 p-3 quote-category--<%= quote.category.downcase.gsub(' ', '-') %>">
  <div class="user-avatar">
    <%= avatar_image_tag(quote.user) %>
    <p><%= link_to quote.user.name, user_path(quote.user) %></p>
  </div>

  <blockquote><%= link_to "\"#{quote.title}\"", quote_path(quote) %></blockquote>

  <small> - <%= quote.author %></small><br>

  <%= render partial: "likes/like_button", locals: { quote: quote } %>

  <%= quote.created_at.strftime("%Y-%m-%d %H:%M") %>
</div>