<div class="quote-card mb-3 p-3 quote-category--<%= quote.category.downcase.gsub(' ', '-') %>">
  <div class="quote-user">
    <%= link_to user_path(quote.user) do %>
      <%= avatar_image_tag(quote.user, size: "50x50") %>
    <% end %>
    <p class="quote-user-name">
      <%= link_to quote.user.name, user_path(quote.user) %>
    </p>
  </div>

  <blockquote class="quote-body">
    <%= link_to "\"#{quote.title}\"", quote_path(quote) %>
  </blockquote>

  <p class="quote-author"> - <%= quote.author %></p>

  <div class="quote-footer">
    <%= render partial: "likes/like_button", locals: { quote: quote } %>
    <%= quote.created_at.strftime("%Y-%m-%d %H:%M") %>
  </div>
</div>