<div style="text-align: right;">
  <%= button_to 'ログアウト', logout_path, method: :delete, data: { confirm: 'ログアウトしますか？' }, class: 'btn btn-danger' %>
</div>

<div>
  <%= link_to 'クォーツを投稿する', new_quote_path, class: 'btn btn-primary' %>
  <%= link_to '検索画面', search_quotes_path, class: 'btn btn-primary' %>
</div>
<br>

<% @quotes.each do |quote| %>
  <div>
    <blockquote><%= link_to quote.user.name, user_path(quote.user) %></blockquote>
    <blockquote><%= link_to quote.title, quote_path(quote) %></blockquote>
    <small> - <%= quote.author %></small><br>
    <%= quote.created_at.strftime("%Y-%m-%d %H:%M") %>
  </div>
  <hr>
<% end %>
