<h1>Quotes Journaling</h1>

<div>
  <%= link_to 'クォーツを投稿する', new_quote_path, class: 'btn btn-primary' %>
</div>
<br>

<% @quotes.each do |quote| %>
  <div>
    <strong><%= quote.user.name %></strong>
    <blockquote><%= quote.title %></blockquote>
    <small> - <%= quote.author %></small><br>
    <%= quote.created_at.strftime("%Y-%m-%d %H:%M") %>
  </div>
  <hr>
<% end %>
