<h2>Explore</h2>

<br>

<%= form_with url: search_result_quotes_path, method: :get, local:true do |form| %>
  <div data-controller="autocomplete" class="mb-3 position-relative">
    <%= form.label :title %>
    <%= form.text_field :title, placeholder: "クォーツで検索", data: { autocomplete_target: "input", action: "inputa->autocomplete#search", field: "title" } %>
    <div data-autocomplete-target="results" class="autocomplete-results"></div>
  </div><br>

  <div data-controller="autocomplete" class="mb-3 position-relative">
    <%= form.label :author %>
    <%= form.text_field :author, placeholder: "発言者で検索", data: { autocomplete_target: "input", action: "input->autocomplete#search", field: "author" } %>
    <div data-autocomplete-target="results" class="autocomplete-results"></div>
  </div><br>

  <div>
    <%= form.label :category, "カテゴリーを選択" %><br>
    <% Quote.categories.each_key do |category| %>
      <%= form.radio_button :category, category %>
      <%= form.label "category_#{category}", category.humanize %><br>
    <% end %>
  </div><br>

  <div>
    <%= form.label :note %>
    <%= form.text_field :note, placeholder: "紹介内容で検索" %>
  </div><br>

  <div data-controller="autocomplete" class="mb-3 position-relative">
    <%= form.label :source %>
    <%= form.text_field :source, placeholder: "出典で検索", data: { autocomplete_target: "input", action: "input->autocomplete#search", field: "source" } %>
    <div data-autocomplete-target="results" class="autocomplete-results"></div>
  </div><br>

  <div data-controller="autocomplete" class="mb-3 position-relative">
    <%= form.label :source_writer %>
    <%= form.text_field :source_writer, placeholder: "出典の著者で検索", data: { autocomplete_target: "input", action: "input->autocomplete#search", field: "source_writer" } %>
    <div data-autocomplete-target="results" class="autocomplete-results"></div>
  </div><br>

  <div>
    <%= form.submit "Explore" %>
  </div><br>

  <%= link_to '戻る', root_path %>
<% end %>