<%= link_to new_quote_path, class: "fab" do %>
  <%= image_tag("pencil.jpg", alt: "投稿", class: "fab-icon") %>
<% end %>

<ul>
  <% if params[:title].present? %>
    <li>Title: <%= params[:title] %></li>
  <% end %>

  <% if params[:author].present? %>
    <li>Author: <%= params[:author] %></li>
  <% end %>

  <% if params[:categories].present? %>
    <li>Category:
      <% params[:categories].each_with_index do |cat, i| %>
        <%= cat.humanize %><%= ", " unless i == params[:categories].size - 1 %>
      <% end %>
    </li>
  <% elsif params[:category].present? %>
    <li>Category: <%= params[:category].humanize %></li>
  <% end %>

  <% if params[:note].present? %>
    <li>Note: <%= params[:note] %></li>
  <% end %>

  <% if params[:source].present? %>
    <li>Source: <%= params[:source] %></li>
  <% end %>

  <% if params[:source_writer].present? %>
    <li>Source writer: <%= params[:source_writer] %></li>
  <% end %>
</ul>

<%= link_to '検索条件をクリア', root_path, class: 'btn btn-secondary' %>

<br><hr>

<% if @quotes.present? && @quotes.any? %>
  <% @quotes.order(created_at: :desc).each do |quote| %>
    <%= render partial: 'quotes/quote', locals: { quote: quote } %>
  <% end %>
<% else %>
  <p>検索結果が見つかりませんでした。</p>
<% end %>
