<div class="quote-search">

  <div class="search-header">
    <h1>Explore</h1>
    <p>クォーツを検索する</p>
  </div>

  <br>

  <%= form_with url: search_result_quotes_path, method: :get, local:true do |form| %>
    <div data-controller="autocomplete" class="mb-3 position-relative">
      <%= form.label :title, class: "search-item" %>
      <%= form.text_field :title, class: "text-field", placeholder: "クォーツで検索", data: { autocomplete_target: "input", action: "input->autocomplete#search", field: "title" } %>
      <div data-autocomplete-target="results" class="autocomplete-results"></div>
    </div><br>

    <div data-controller="autocomplete" class="mb-3 position-relative">
      <%= form.label :author, class: "search-item" %>
      <%= form.text_field :author, class: "text-field", placeholder: "発言者で検索", data: { autocomplete_target: "input", action: "input->autocomplete#search", field: "author" } %>
      <div data-autocomplete-target="results" class="autocomplete-results"></div>
    </div><br>

    <div>
      <%= form.label :category, "Quotes type (クォーツの種類)", class: "checkboxItem"%><br>
      <br>
      <% Quote.categories.each_key do |category| %>
        <div class="checkboxItem">
          <%= check_box_tag "categories[]", category, class: "form-check-input", id: "category_#{category}" %>
          <label for="category_#{category}" data-tooltip="<%= category == 'historical' ? '歴史上の偉人' : category == 'celebrity' ? '現代の著名人' : category == 'fictional' ? '作品に登場するキャラクター' : 'あなた自身 もしくは身近な人' %>">
            <%= category.humanize %>
          </label>
        </div>
      <% end %>
    </div><br>

  <div class="search-item">
    <%= form.label :note, class: "search-item" %>
    <%= form.text_field :note, class: "text-field", placeholder: "紹介内容で検索" %>
  </div><br>

  <div data-controller="autocomplete" class="mb-3 position-relative">
    <%= form.label :source, class: "search-item" %>
    <%= form.text_field :source, class: "text-field", placeholder: "出典で検索", data: { autocomplete_target: "input", action: "input->autocomplete#search", field: "source" } %>
    <div data-autocomplete-target="results" class="autocomplete-results"></div>
  </div><br>

  <div data-controller="autocomplete" class="mb-3 position-relative">
    <%= form.label :source_writer, class: "search-item" %>
    <%= form.text_field :source_writer, class: "text-field", placeholder: "出典の著者で検索", data: { autocomplete_target: "input", action: "input->autocomplete#search", field: "source_writer" } %>
    <div data-autocomplete-target="results" class="autocomplete-results"></div>
  </div><br>

  <div>
    <%= form.submit "Explore", class: "btn btn-primary", style: "font-size: 1.5rem;" %>
  </div><br>

  <%= link_to '戻る', root_path, class: "btn btn-secondary" %>
  <% end %>

</div>