<h2><%= "\"#{@quote.title}\"" %></h2><br>

<h4><strong>投稿者:</strong> <%= @quote.user.name %></h4><br>

<p><strong>Author of the Quotes:</strong> <%= @quote.author %></p>
<p><strong>Quotes type:</strong> <%= @quote.category %></p>
<% if @quote.source.present? %>
  <p><strong>Source of the Quotes:</strong> <%= @quote.source %>（<%= @quote.source_writer %>）</p>
<% end %>
<p><strong>note:</strong><br><%= simple_format(@quote.note) %></p>

<% if @quote.user == current_user %>
  <%= link_to '投稿を編集', edit_quote_path(@quote), class: 'btn btn-success btn-sm' %>
<% end %>

<% if @quote.user == current_user %>
  <%= button_to '投稿を削除', quote_path(@quote), method: :delete, data: { confirm: 'このクォーツを削除しますか？' }, class: 'btn btn-danger btn-sm' %>
<% end %>

<br>

<%= link_to "戻る", quotes_path, class: "btn btn-secondary" %>