<h2><%= "\"#{@quote.title}\"" %></h2><br>

<div class="user-info">
  <% if @quote.user.avatar.attached? %>
    <%= image_tag @quote.user.avatar.variant(resize_to_limit: [75, 75]) %>
  <% else %>
    <%= image_tag('/images/default_avatar.png', size: "75x75") %>
  <% end %>
  <h4><strong>投稿者:</strong><%= link_to @quote.user.name, user_path(@quote.user) %></h4>
</div>

<br>
<p><strong>Author of the Quotes:</strong> <%= @quote.author %></p>
<p><strong>Quotes type:</strong> <%= @quote.category %></p>
<% if @quote.source.present? %>
  <p><strong>Source of the Quotes:</strong> <%= @quote.source %>（<%= @quote.source_writer %>）</p>
<% end %>
<p><strong>note:</strong><br><%= simple_format(@quote.note) %></p>

<% if @quote.user == current_user %>
  <%= link_to '投稿を編集', edit_quote_path(@quote), class: 'btn btn-success btn-sm' %>
<% end %>

<% if @quote.user == current_user %>
  <%= button_to '投稿を削除', quote_path(@quote), method: :delete, data: { confirm: 'このクォーツを削除しますか？' }, class: 'btn btn-danger btn-sm' %>
<% end %>

<br>

<%= render @comments %>

<div class="user-info">
  <% if current_user.avatar.attached? %>
    <%= image_tag current_user.avatar.variant(resize_to_limit: [50, 50]) %>
  <% else %>
    <%= image_tag('/images/default_avatar.png', size: "50x50") %>
  <% end %>
</div>

<%= form_with(model: [@quote, @comment], local: false) do |form| %>
  <div class="mb-2">
    <%= form.text_area :body, rows: 3, class: "form-control", placeholder: 'コメントを入力' %>
  </div>
  <%= form.submit '投稿', class: "btn btn-primary" %>
<% end %>

<%= link_to "戻る", quotes_path, class: "btn btn-secondary" %>