<div class="register-page">

  <h2>アカウントを作成</h2>

  <% if resource.errors.any? %>
    <%= render 'shared/error_messages', object: resource %>
  <% end %>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

  <div class="user-info-form">
    <div>
      <%= f.label :name %><br />
      <%= f.text_field :name, class: "form-control" %>
    </div>

    <div>
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    </div>

    <div>
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %>文字以上)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
    </div>

    <div>
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
    </div>

    <div>
      <%= f.check_box :agree_terms %>
      <%= link_to "利用規約", terms_path, class: "register-underline" %>,
      <%= link_to "プライバシーポリシー", privacy_policy_path, class: "register-underline" %>
      <%= f.label :agree_terms, "に同意する" %>
    </div>

    <div>
      <%= f.submit "アカウントを作成", class: "btn btn-primary" %>
    </div>
  </div>

  <% end %>

</div>

<hr>

<%- if devise_mapping.omniauthable? %>
  <div class="login-with-google-register">
    <p>Googleアカウントでログイン・アカウント作成　→</p>
    <%= link_to user_google_oauth2_omniauth_authorize_path, method: :post, data: { turbo: false } do %>
      <%= image_tag("google.png", alt: "Googleでログイン") %>
    <% end %>
  </div>
<% end %>

<br>

<div class="register-login-link">
  <%= link_to "アカウントを既にお持ちですか？ ログイン", new_session_path(resource_name) %><br />
</div>