<div class="comment border rouded p-2 my-2">
  <div class="comment-of-user">
    <%= avatar_image_tag(comment.user) %>
    <p><%= link_to comment.user.name, user_path(comment.user) %></p>
  </div>
  <p><%= comment.body %></p>
  <p class="text small"><%= comment.created_at.strftime('%Y/%m/%d %H:%M') %></p>

  <% if comment.user != current_user %>
    <%= link_to '通報', new_quote_comment_report_path(quote_id: comment.quote_id, comment_id: comment.id), class: 'btn btn-warning btn-sm' %>
  <% end %>
</div>