<div class="circle-auth-container">
  <h2><%= @circle.name %> にログイン</h2>

  <%= link_to circle_join__google_oauth_path(join_token: @circle.join_token), class: "btn-google" do %>
    Googleアカウントでログイン
  <% end %>

  <div class="circle-auth-divider">または</div>

  <%= form_tag circle_join_login_path(join_token: @circle.join_token), method: :post, local: true do %>
    <div class="form-group">
      <%= label_tag :email, 'メールアドレス' %>
      <%= email_field_tag :email, nil, class: "form-control", placeholder: "example@email.com" %>
    </div>

    <div class="form-group">
      <%= label_tag :password, 'パスワード' %>
      <%= password_field_tag :password, nil, class: "form-control" %>
    </div>

    <%= submit_tag 'ログイン', class: "btn btn-primary" %>
  <% end %>

  <div class="circle-auth-footer">
    アカウントをお持ちでない方は<br>
    <%= link_to '新規登録はこちら', circle_join__signup_path(join_token: @circle.join_token),
                class: "btn btn-outline-light btn-sm mt-2" %>
  </div>
</div>
