<div class="user-infomation">
  <%= avatar_image_tag(@user, size: "100x100") %>
  <h2 class="user-name"><%= @user.name %></h2>

  <div class="user-action">
    <% if @user == current_user %>
      <div class="dropdown">
        <button class="btn btn-success btn-lg dropdown-toggle" type="button" id="userActionsDropdown" data-bs-toggle="dropdown" aria-expanded="false">
          <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="userActionsDropdown">
          <li><%= link_to 'プロフィールを編集', edit_user_path(@user), class: 'dropdown-item' %></li>
          <li><%= link_to 'いいねした投稿', user_likes_path(@user), class: 'dropdown-item' %></li>
          <li><%= button_to 'ログアウト', destroy_user_session_path, method: :delete, data: { turbo_method: :delete, turbo_confirm: 'ログアウトしますか？' }, class: 'dropdown-item' %></li>
          <% if current_user.line_user_id %>
            <li><%= button_to "LINEアカウントと連携解除", unlink_line_account_path, method: :delete, data: { turbo_method: :delete, turbo_confirm: '本当に連携を解除しますか？' }, class: "dropdown-item text-line" %></li>
          <% else %>
            <li><%= link_to "LINEアカウントと連携", user_line_omniauth_authorize_path, class: "dropdown-item text-line" %></li>
          <% end %>
          <li><%= link_to 'アカウントを削除', user_registration_path(@user), data: { turbo_method: :delete, turbo_confirm: 'アカウントを削除しますか？' }, class: 'dropdown-item text-danger' %></li>
        </ul>
      </div>
    <% end %>
  </div>
</div>

<p class="user-bio">
  <%= @user.bio.presence || 'まだ自己紹介がありません' %>
</p>

<h4>過去のクォーツ</h4>

<hr>

<%= render partial: 'quotes/quote', collection: @quotes, as: :quote %>