<h1><%= link_to 'Quotes Journaling', root_path %></h1><br>

<h2><%= @user.name %></h2>

<p><%= @user.bio.presence || 'まだ自己紹介がありません' %></p>

<% if @user == current_user %>
  <%= link_to 'プロフィールを編集', edit_user_path(@user) %>
<% end %>

<h4>過去のクォーツ</h4><br>

<hr>

<% @quotes.each do |quote| %>
  <div>
    <blockquote><%= link_to quote.user.name, user_path(quote.user) %></blockquote>
    <blockquote><%= link_to quote.title, quote_path(quote) %></blockquote>
    <small> - <%= quote.author %></small><br>
    <%= quote.created_at.strftime("%Y-%m-%d %H:%M") %>
  </div>
  <hr>
<% end %>