<div class="user-avatar">
  <%= avatar_image_tag(@user, size: "100x100") %>
  <h2><%= @user.name %></h2>
</div>

<p><%= @user.bio.presence || 'まだ自己紹介がありません' %></p>

<% if @user == current_user %>
  <%= link_to 'プロフィールを編集', edit_user_path(@user), class: 'btn btn-primary' %>
  <%= link_to 'いいねした投稿', user_likes_path(@user), class: 'btn btn-outline-danger' %>
  <%= button_to 'ログアウト', destroy_user_session_path, method: :delete, data: { confirm: 'ログアウトしますか？' }, class: 'btn btn-danger' %>
  <% if current_user.line_user_id %>
    <%= button_to "LINEアカウントと連携解除", unlink_line_account_path,
      method: :delete,
      class: "btn btn-success",
      data: { confirm: "本当に連携を解除しますか？" } %>
  <% else %>
    <%= link_to "LINEアカウントと連携", user_line_omniauth_authorize_path, class: "btn btn-success" %>
  <% end %>
<% end %>

<h4>過去のクォーツ</h4>

<hr>

<%= render partial: 'quotes/quote', collection: @quotes, as: :quote %>