<div class="user-info">
  <% if @user.avatar.attached? && @user.avatar.image? %>
    <%= image_tag @user.avatar.variant(resize_to_limit: [100, 100]) %>
  <% else %>
    <%= image_tag('/images/default_avatar.png', size: "100x100") %>
  <% end %>
  <h2><%= @user.name %></h2>
</div>

<p><%= @user.bio.presence || 'まだ自己紹介がありません' %></p>

<% if @user == current_user %>
  <%= link_to 'プロフィールを編集', edit_user_path(@user), class: 'btn btn-primary' %>
  <%= link_to 'いいねした投稿', user_likes_path(@user), class: 'btn btn-outline-danger' %>
<% end %>

<h4>過去のクォーツ</h4>

<hr>

<%= render partial: 'quotes/quote', collection: @quotes, as: :quote %>