<div class="circle-members-page">
  <h2><%= @circle.name %> のメンバー（<%= @circle.member_count %>人）</h2>

  <div class="circle-members-grid">
    <% @members.each do |member| %>
      <%= link_to user_path(member), class: "member-avatar-card" do %>
        <%= avatar_image_tag(member, size: "72x72") %>
        <div class="member-tooltip">
          <strong><%= member.name %></strong><br>
          参加 <%= member.created_at.in_time_zone('Tokyo').strftime("%Y/%m/%d") %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="return-button">
    <%= link_to "← フィードに戻る", circle_quotes_path(current_circle), class: "btn btn-outline-light btn-sm" %>
  </div>
</div>
