<!DOCTYPE html>
<html>
  <head>
    <title>Admin</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= active_admin_stylesheet_link_tag %>
    <%= yield :head %>
  </head>
  <body class="<%= params[:action] %> <%= params[:controller].tr('/', '_') %>">
    <%= yield %>
    <%= active_admin_javascript_include_tag %>
  </body>
</html>