<!DOCTYPE html>
<html>
  <head>
    <title>QuotesJournaling | 名言を共有するSNS</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="QuotesJournalingは、世界中の偉人・アニメなどの名言を記録、整理、共有できるSNSアプリです。あなたの心に残る言葉を見つけよう。">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <%= favicon_link_tag 'favicon.ico' %>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-4FMEQNYNV6"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-4FMEQNYNV6');
    </script>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <% if user_signed_in? %><hr><% end %>
    <%= render 'shared/flash' %>
    <%= yield %>
    <hr>
    <%= render 'layouts/footer' %>
  </body>
</html>
